<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <!-- Here's where we'll add a new task -->
    <form method="POST" action="/tasks">
      <input type="text" name="text">
      <input type="text" name="version">
      <input type="submit" value="Submit">
    </form>


    <ul>
    <% for (idx in tasks) { %>
    <li><%= tasks[idx]['text'] %> : <%= tasks[idx]['version'] %></li>
    <% } %>

    </ul>
  </body>
</html>
